.sample-app-content {
  font-family: Verdana;
}
.sample-app-content h1 {
  color: #999999;
  font-size: 1em;
}
.sample-app-content h2 {
  color: #990000;
  font-size: 2em;
}
.sample-app-content li,
.sample-app-content p {
  font-size: 1em;
}
.sample-app-content li {
  font-family: Consolas;
}
.sample-app-content nav a {
  display: inline-block;
  margin-right: 15px;
}
.sample-app-content input,
.sample-app-content button {
  padding: 5px;
  font-size: 1em;
  outline: none;
}

form {
  width: 350px;
  text-align: right;
}

form input {
  width:200px;
  border: 1px solid dimgrey;
}


form input.ng-invalid, form input.ng-pristine.ng-invalid:focus {
  border: 1px solid red;
}

form input.ng-pristine {
  border: 1px solid dimgrey;
}
