
.container {
  width: 970px;
  padding-top:100px;
  margin: 0 auto;
}

.pure-form input.ng-dirty.ng-invalid {
  border-color: #e9322d;
}

.field-message {
  display: inline-block;
  color:#e9322d;
  font-size: 90%;
  margin-left: 0.5em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
